html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #252525;
}


/* Chat*/

.app-main {
	display: flex;
	justify-content: space-between;
	max-width: 1000px;
	min-height: 800px;
	border: 1px solid black;
	background-image: url("../1.png");
}

#lines {
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	z-index: 1;
}

.line {
	height: 24px;
	box-sizing: border-box;
	width: 100%;
	border-bottom: 1px solid red;
}

.chat-msg-rsv {
	color: red;
	text-align: right;
	/* margin-bottom: 10px; */
}

.chat-msg-send {
	text-align: left;
	color: blue;
	/* margin-bottom: 10px; */
}

.chat-popup {
	display: flex;
	position: relative;
	top: 475px;
	min-width: 260px;
	min-height: 320px;
	z-index: 99998;
	background-color: rgba(16, 21, 178, 0.2);
	align-items: center;
	justify-content: center;
	margin: 0;
	/* visibility: hidden; */
}

.chat-popup-2 {
	display: flex;
	position: relative; 
	top: 475px;
	min-width: 260px;
	min-height: 320px;
	z-index: 99998;
	background-color: rgba(16, 21, 178, 0.2);
	align-items: center;
	justify-content: center;
	margin: 0;
	/* visibility: hidden; */
}

.btn-chat-popup {
	position: fixed;
	right: 50px;
	bottom: 100px;
	min-width: 280px;
	min-height: 400px;
	z-index: 99998;

	background-color: rgba(16, 21, 178, 0.2);
	/* background-color: rgba(0, 0, 0, 0.2); */
	display: grid;
	align-items: center;
	justify-content: center;
	margin: 0;
}


/* Кнопка, используемая для открытия формы чата - исправлена в нижней части страницы */
.open-button {
	background-color: #555;
	color: rgb(255, 255, 255);
	font-weight: 600;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 100px;
}

/* Всплывающий чат - скрыт по умолчанию */
.form-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	z-index: 9;
}

/* Добавить стили для контейнера формы */
.form-container {
	max-width: 250px;
	padding: 10px;
	margin: 0;
}

.area-ch {
	width: 100%;
	padding: 15px;
	margin: 0;
	border-bottom: -2.5px solid gray;
	background: rgb(248, 248, 250);
	resize: nonergba(251, 252, 253, 0.2);
	min-height: 140px;

}

/* Полная ширина текстовой области */
.form-container textarea {
	width: 100%;
	padding: 15px;
	margin: -24px 0 22px 0;

	background: rgb(248, 248, 250);
	resize: nonergba(251, 252, 253, 0.2);
	max-height: 100px;
}

/* Когда текстовое поле получает фокус, сделайте что-нибудь */
.form-container textarea:focus {
	background-color: #ddd;
	outline: none;
}

/* Установите стиль для кнопки отправить/войти */
.form-container .btn {
	background-color: #30caa0;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
}

/* Добавить красный цвет фона для кнопки "Отмена" */
.form-container .cancel {
	background-color: rgb(255, 0, 0, 0.7);
}

/* Добавить некоторые эффекты наведения на кнопки */
.form-container .btn:hover,
.open-button:hover {
	opacity: 1;
}